.buttonDiv {
  background-color: var(--primaryColor);
  display: flex;
  gap: 0.5rem;
  font-family: Poppins;
  font-size: 1.7rem;
  color: var(--lighterPrimaryColor);
  border: solid var(--lightPrimaryColor);
  border-radius: 1.8rem;
  padding: 1.5rem;
  height: 6rem;
  width: 18rem;
}
.buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2rem;
  list-style: none;
}

.imgButton {
  width: 3rem;
  align-self: center;
}
.textButton {
  align-self: center;
}
.buttonDiv:hover {
  background-color: var(--lightPrimaryColor);
  box-shadow: rgba(0, 0, 0, 0.088) 0 0.5rem 10px;
}
